<h1>Name: <%= @animal.name %></h1>
<br>
<p>Age: <%= @animal.age %></p>
<br>
<p>Hair Color: <%= @animal.hair_color %></p>
<br>
<p>Eye Color: <%= @animal.eye_color %></p>
<br>
<p>Gender: <%= @animal.gender %></p>
<br>
<p>Alive: <%= @animal.alive %></p>
<br>
<%= link_to 'Back', animals_path %>